.conts {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../images/donatebg.svg"); /* Replace 'your-image-url.jpg' with the actual path to your image */
    background-size: cover;
    background-position: center;
}

.form_input {
    display: flex;
    margin-bottom: 15px;
    text-align: left;
}

.form {
    background-color: #f8f9facc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #555;
}

input,
select {
    width: 50%;
    padding: 10px;
    margin-bottom: 15px;
    margin: auto;
    margin-right: 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.radio {
    margin: 0 5px;
}

button {
    background-color: #2a9be7a2;
    color: #fff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgba(41, 127, 185, 0.69);
}

.loading,
.error {
    margin-top: 10px;
    color: #e74c3c;
    font-weight: bold;
}

.loading {
    color: #3498db;
}

.radio-container {
    display: flex;
    align-items: center;
    margin-right: 0;
    margin: auto;
}

.radio-label {
    margin-right: 10px;
}

.radio {
    width: 15px;
    height: 15px;
    border: 2px solid #3498db;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    margin-right: 5px;
}
