.landingpage {
    background-image: url("https://media.istockphoto.com/id/1250399821/vector/abstract-background-template-design-deep-blue-halftone-geometric-gradient-texture-background.jpg?s=612x612&w=0&k=20&c=eLOlhaCNscxHyoEGDjvfBUUoB7q1e8mFZMqBLCRqNNA=");
    height: 100vh;
    background-repeat: no-repeat;
    background-size:100vh 100vw;
    background-size: cover;
}

.landingpage .view {
    background-color: transparent;
    border:2px solid white;
    display: inline-block;
    width: 20vw;
    border-radius: 5px;
    font-size: 100%;
    float: left;
    color: white;
}

.landingpage .donate {      
    background-color: transparent;
    border:2px solid white;
    display: inline-block;
    width: 20vw;
    border-radius: 5px;
    font-size: 100%;
    float: right;
    color: white;
}

.landingpage .about {
    background-color: transparent;
    border:2px solid white;
    display: inline-block;
    width : 100%;
    border-radius: 5px;
    font-size: 100%;
    box-sizing: border-box;
    margin-top: 5vh;
    color: white;
}

.landingpage .content {
    display: inline-block;
    width: 50vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.landingpage .content div {
    padding : 1% 0;
    font-size: 120%;
    cursor: pointer;
}

