.landingpage {
    background-image: url("https://blog-frontend.envato.com/cdn-cgi/image/width=2400,quality=75,format=auto/uploads/sites/2/2021/09/CON190%E2%80%93SeptemberBlog-Bauhaus.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size:100vh 100vw;
    background-size: cover;
}

.landingpage .view {
    background-color: red;
    border-radius: 5px;
    display: inline-block;
    width: 40%;
    font-size: 100%;
    float: left;
    color: white;
}

.landingpage .donate {      
    background-color: red;
    border-radius: 5px;
    display: inline-block;
    width: 40%;
    font-size: 100%;
    float: right;
    color: white;
}

.landingpage .about {
    background-color: red;
    border-radius: 5px;
    display: inline-block;
    width : 100%;
    font-size: 100%;
    box-sizing: border-box;
    color: white;
    margin-top: 2%;
}

.landingpage .content {
    display: inline-block;
    width: 80%;
    height: 100vh;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.landingpage .content div {
    padding : 1% 0;
    font-size: 100%;
    cursor: pointer;
}

.landingpage .content .logo {
    height: 15vh;
}

.landingpage .content .text {
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    margin: 0 15%;
}
