.page .button{
    width: 50vw;
    padding: 1%;
    border: 1px solid black;
    margin-top: 2%;
    border-radius: 10px;
    cursor: pointer;
}

.page .content {
    width: 100vw;
    position: absolute;
    top: 50%;
    translate: (-50%,0);
}